.nav-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    button {
      margin: 1% 0%;
    }
  }
}

#button-nav {
  background-color: white;
}


#page-header {
  width: 100%;
}

.page-header {
  width: 100%;
}
