nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left-nav {
    display: flex;
    flex-direction: row;
    padding-left: 2%;

    h1 {
      flex-direction: column;
      justify-content: center;
      color: red;
      text-wrap: nowrap;
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 3%;
    }
  }

  .right-nav {
    display: flex;
    flex-direction: row;
    padding-right: 2%;

    button {
      background-color: transparent;
      border: none;
      color: red;
      font-size: 2.0em;
    }
  }


}
